{% extends 'livecalendar/base.html' %}

{% block content %}
<div class="card mb-5 shadow">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          ご挨拶
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-body">
          <h3 class="display-5">情報過多の日常を最適化しましょう.</h3>
          <p class="lead">今日どのようなライブがあるか,好きなバンドのライブがいつなのか,</br>
        私達は文明の発展により多くの情報を簡単に得ることができるようになりましたが,</br>
        皮肉にも欲しい情報を得るということはむしろ困難になりつつあります.</br>
        なぜだかググってもツイッターを見ても全然見つからない.そんなあなたのためのサービスです.</p>
          <hr class="my-2">
          <p>こちらはDjangoフレームワークで作成しました.</p>
          <p class="lead">
            <form class="form-inline my-2 my-lg-0" action="{% url 'livecalendar:index' %}">
              <button class="btn btn-lg btn-success my-2 my-sm-0" value="{% now "Y-m-d" %}" name="livedate" type="submit">本日のライブを確認 !</button>
            </form>
          </p>

      </div>
    </div>
  </div>




{% for live in live_list %}
<div class="card mb-5 shadow hvr-grow">
  <h3 class="card-header">{{ live.date|date:"Y/m/d" }}</h3>
  <div class="card-body">
    <h4 class="card-title">{{ live.title }}</h4>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th scope="row">出演</th>
          <td>
            {% for band in live.band.all %}
            {{ band }}
            {% if forloop.last is False %} / {% endif %}
            {% endfor %}</td>
          </tr>
          <tr>
            <th scope="row">場所</th>
            <td>{{ live.place }}</td>
          </tr>
          <tr>
            <th scope="row">OPEN / START</th>
            <td>{{ live.open }} / {{ live.start }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
{% empty %}
<div class="alert alert-warning" role="alert">
  <strong>Sorry!</strong>  ライブ情報が見つかりませんでした.
</div>
{% endfor %}

{% include 'livecalendar/page.html' %}

{% endblock %}
